<td>
  <div class="todo-reorder">
    <i class="fa fa-sort"></i>
  </div>
</td>
<td>
  <div class="todo-title <%= is_completed ? 'complete' : ''%>">
    <%= title %>
  </div>
  <div class="todo-labels">
    <% for(tag_idx in tags) { %>
      <% var label = tags[tag_idx]; %>
      <span class="label label-info">
        <%= label %>
      </span>
      <% if(tag_idx < (tags.length-1)) { %>
        &nbsp;
      <% } %>
    <% } %>
  </div>
</td>
<td>
  <div class="todo-notes text-center <%= is_completed ? 'complete' : '' %>">
    <%= notes %>
  </div> 
</td>
<td>
  <div class="todo-controls">
    <% if(permissions.can_complete){ %>
      <a href="#" class="btn btn-success" data-action="complete" data-toggle="tooltip" data-placement="left" title="Complete this todo">
        <i class="fa fa-check"></i>
      </a>
    <% } %>
    <% if(permissions.can_uncomplete){ %>
      <a href="#" class="btn btn-warning" data-action="uncomplete" data-toggle="tooltip" data-placement="left" title="Uncomplete this todo">
        <i class="fa fa-undo"></i>
      </a>
    <% } %>
    <% if(permissions.can_destroy){ %>
      <a href="#" class="btn btn-danger" data-action="destroy" data-toggle="tooltip" data-placement="left" title="Delete this todo">
        <i class="fa fa-ban"></i>
      </a>
    <% } %>
    <% if(permissions.can_accept){ %>
      <a href="#" class="btn btn-danger" data-action="accept" data-toggle="tooltip" data-placement="left" title="Accept this todo">
        <i class="fa fa-ban"></i>
      </a>
    <% } %>
  </div>
</td>
