!!!
%html
  %head
    %title Honey Do
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body
    = render 'layouts/navbar'
    = render 'layouts/flash'
    .container
      = yield

    = yield :modals
    -#= webpack_javascript_include_helper

    = yield :javascripts
    - unless Rails.env.development?
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
      %link{:rel=>"stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}
