!!!
%html
  %head
    %title Honey Do
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    - if Rails.env.development?
      %script{:src => "http://localhost:8080/webpack-dev-server.js"}
      %script{:src => "http://localhost:8080/webpack/bundle.js"}
    - else
      = javascript_include_tag 'bundle'
  %body
    = render 'layouts/navbar'
    = render 'layouts/flash'
    .container
      = yield

    = yield :modals
    = yield :javascripts
