!!!
%html
  %head
    %title Honey Do
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}
    = javascript_pack_tag 'landing'
    = stylesheet_pack_tag 'landing'

  %body
    = render 'layouts/navbar', :is_parked => true
    = render 'layouts/flash'

    .honey-do-landing-wrap
      = yield
    = render 'layouts/footer'

    = yield :modals

    = yield :javascripts

    - unless Rails.env.development?
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
